@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  box-sizing: cover;
}

h1, h2, h3, h4, h5, h6, a, input {
  font-family: "PT Mono", monospace;
  margin: 0;
  font-weight: 400;
}

p, a {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-weight: 300;
  color: #454545;
}

.navbar {
  width: 100%;
  height: 96px;
  padding: 28px;
}

.navbar__img {
  width: 29px;
  height: 47px;
  margin-left: 58px;
}

.nav-link {
  font-family: "PT Mono", monospace;
  font-size: 16px;
  margin-left: 32px;
}

.cuadrante1 {
  width: 100%;
  height: 450px;
}

.right-up {
  width: 900px;
  height: 440px;
  float: left;
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
}

.left-up {
  width: 381px;
  height: 440px;
  float: right;
  box-sizing: border-box;
  z-index: -1;
}

h1 {
  font-family: "PT Mono", monospace;
  font-size: 70px;
  margin-left: 45px;
  margin-top: 48px;
  line-height: 78px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 45px;
  margin-top: 7px;
}

.infoup {
  background-color: #fff;
  width: 500px;
  height: 150px;
  position: relative;
  z-index: 1;
  margin: 0px;
  left: 431px;
  top: 302px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 22px;
  text-decoration: none;
}

.numbers {
  width: 100px;
  z-index: 1;
  float: left;
  box-sizing: border-box;
}

h4 {
  margin-top: 20px;
  font-family: "PT Mono", monospace;
  font-size: 40px;
}

.info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0px;
}

.colors {
  position: relative;
  z-index: 1;
  float: left;
  box-sizing: border-box;
  clear: both;
}

.orange {
  background-color: #E4572E;
  width: 134.27px;
  height: 136.67px;
  z-index: 1;
  margin: 0px;
  left: 883.73px;
  top: -155px;
  position: relative;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.yellow {
  background-color: #F1DD7B;
  width: 134.27px;
  height: 136.67px;
  z-index: -1;
  margin: 0px;
  left: 899px;
  top: -273px;
  position: relative;
}

.cuadrante2 {
  width: 100%;
  height: 0px;
}

.left-down {
  background-color: #fff;
  width: 899px;
  height: 264px;
  float: left;
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  padding-top: 58px;
  padding-left: 74px;
}

.left-down-h2 {
  font-family: "PT Mono", monospace;
  font-size: 30px;
  width: 288px;
}

.left-down-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1px;
  width: 288px;
  height: 96px;
  margin: 0px;
}

.down-blue {
  background-color: #3C91E6;
  width: 550px;
  height: 240px;
  position: relative;
  z-index: -1;
  float: left;
  box-sizing: border-box;
  left: 297px;
}

.down-coffee {
  position: relative;
  z-index: 2;
  float: left;
  margin-left: 220px;
  overflow: hidden;
}

.beans {
  width: 140px;
  height: 200px;
}

.map {
  position: absolute;
  z-index: 2;
  float: left;
  margin-left: 400px;
  margin-top: 20px;
}

.map_img {
  width: 450px;
  height: 240px;
}

.down-foto {
  position: absolute;
  z-index: -1;
  float: right;
  margin-left: 980px;
  margin-bottom: 20px;
}

.cafetera {
  width: 550px;
  height: 300px;
}

.navbar-btn1, .navbar-btn2 {
  font-size: 16px;
  padding: 8px;
  margin-right: 30px;
  display: flex;
}
.navbar-btn1.navbar-btn1, .navbar-btn2.navbar-btn1 {
  border: solid #989797;
  border-width: 1px;
  color: #989797;
  transition: 500ms ease;
}
.navbar-btn1.navbar-btn1:hover, .navbar-btn2.navbar-btn1:hover {
  border: solid #454545;
  border-width: 1px;
  color: #000000;
}
.navbar-btn1.navbar-btn2, .navbar-btn2.navbar-btn2 {
  border: solid #4CA866;
  background-color: #4CA866;
  border-width: 1px;
  color: #fff;
  transition: 500ms ease;
}
.navbar-btn1.navbar-btn2:hover, .navbar-btn2.navbar-btn2:hover {
  background-color: #9DCFAB;
  border: solid #9DCFAB;
  border-width: 1px;
  color: #454545;
}/*# sourceMappingURL=main.css.map */