.cuadrante2 {
    width: 100%;
    height: 0px;
}

.left-down{
    background-color: $white;
    width: 899px;
    height: 264px;
    float: left;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    padding-top: 58px;
    padding-left: 74px;
   
}

.left-down-h2 {
    font-family: $font-primary;
    font-size: $x-large;
    width: 288px;

}

.left-down-p {
    font-family: $font-secondary;
    font-size: $medium;
    line-height: 21px;
    letter-spacing: 0.1px;
    width: 288px;
    height: 96px;
    margin: 0px;

}

.down-blue{
    background-color: $blue-de-france;
    width: 550px;
    height: 240px;
    position: relative;
    z-index: -1;
    float: left;
    box-sizing: border-box;
    left: 297px;
}


.down-coffee{
    position: relative;
    z-index: 2;
    float: left;
    margin-left: 220px;
    overflow:hidden;
}


.beans{
    width: 140px;
    height: 200px;
}

.map{
    position:absolute;
    z-index: 2;
    float: left;
    margin-left: 400px;
    margin-top: 20px;
}

.map_img{
    width: 450px;
    height: 240px;
}


.down-foto{
    position: absolute;
    z-index: -1;
    float: right;
    margin-left: 980px ;
    margin-bottom:20px;
}

.cafetera{
    width: 550px;
    height: 300px;
}