.navbar-btn1, .navbar-btn2 {
    font-size: $medium;
    padding: 8px;
    margin-right: 30px;
    display: flex;

    &.navbar-btn1 {
        border: solid $spanish-gray;
        border-width: 1px;
        color: $spanish-gray;
        transition: 500ms ease;
        &:hover {
            border: solid $outer-space;
            border-width: 1px;
            color: $black;
        }
    }

    &.navbar-btn2{
        border: solid $shiny-shamrock;
        background-color: $shiny-shamrock;
        border-width: 1px;
        color: $white;
        transition: 500ms ease;
        &:hover {
            background-color: $turquoise-green;
            border: solid $turquoise-green;
            border-width: 1px;
            color: $outer-space;
        }
    }
}