// Color Schemes
$white: #fff;
$isabelline: #EEEDED;
$spanish-gray: #989797;

$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #F5D7A1;

$flame: #E4572E;
$light-red-ochre: #E87554;
$pastel-pink: #F2B2A0;

$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;

$blue-de-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;

$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;

// Font Family
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-primary: 'PT Mono', monospace;
$font-secondary: 'Roboto', sans-serif;

// Font Sizes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
